MyNeurIPSData/
MyNeurIPSData/*

notebooks/data/
notebooks/data/*

HBN_DATA/
HBN_DATA/*

HBN_DATA_NOTEBOOK/*
HBN_DATA_NOTEBOOK/

LOL_DATASET/
LOL_DATASET/*

checkpoints/
checkpoints/*

model/__pycache__/
model/__pycache__/*

__pycache__/
__pycache__/*
*.pyc

MyEEGData_full/
MyEEGData_full/*
MyEEGData_mini/
MyEEGData_mini/*

preprocessed/
preprocessed/*

finetune_weight/*
finetune_weight/

